html{
    background-color: rgb(100, 187, 158);
    font-family: cursive;
}
body{
    text-align: center;
    max-width: 1024px;
    margin: 0 auto;
    
}
.input{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quadro{
    border: 20px groove #595D01;
    min-height: 2rem;
    max-height: 15rem;
    overflow: auto;
    background-color: rgb(1, 77, 1);
    color: white;
    padding: 1rem;
    margin: 1rem .5rem;
}
#numberRanged{
    padding: 1rem 0;
}
#numberInput{
    text-align: center;
    width: 10rem;
    padding: .4rem;
}
#countStart{
    padding: .3rem 1rem;
    font-weight: bold;
}
@media only screen and (min-width: 768px){
    .input{
        flex-direction: row;
        justify-content: center;
        gap: 15px;
    }
    main{
        display: flex;
        flex-direction: column;
        
        
    }
    .quadro{
        align-self: center;
        width: clamp(70%, 80%, 1000px);
        
    }
}